<main>
  <div class="projects-list__container">
    <header class="projects__header">
        <h1>Projects</h1>
        <button class="button" (click)="openProjectForm()">Create Project</button>
        <button class="button" (click)="toggleView()">
          {{ viewMode === 'grid' ? 'List' : 'Cards' }}
        </button>
    </header>

    <div class="overlay" *ngIf="projectFormCalled">
      <div class="form-wrapper">
        <project-form
          [project]="editingProject"
          (created)="onProjectCreated($event)"
          (updated)="onProjectUpdated($event)"
          (cancel)="projectFormCalled = false" 
          />
      </div>
    </div>
  
    <section *ngIf="projects$ | async as projects; else loading">

      <ng-container *ngIf="projects.length > 0; else noProjects">

        <div *ngIf="viewMode === 'grid'" class="projects-grid">
          <app-project-card
            *ngFor="let project of projects"
            [project]="project"
            [listView]="false"
            (open)="openProjectCard($event)"
            (edit)="openEditProject($event)"
            (delete)="deleteProject($event)"
          ></app-project-card>
        </div>

        <div *ngIf="viewMode === 'list'" class="projects-list">
          <app-project-card
            *ngFor="let project of projects"
            [project]="project"
            [listView]="true"
            (open)="openProjectCard($event)"
            (edit)="openEditProject($event)"
            (delete)="deleteProject($event)"
          ></app-project-card>
        </div>

      </ng-container>

    </section>

    <ng-template #loading>
      <div class="loading">Loading projects...</div>
    </ng-template>

    <ng-template #noProjects>
      <div class="no-projects">No projects found.</div>
    </ng-template>
  </div>
 
</main>
