.project-card {
  display: grid;
  grid-template-columns: 160px 115px;
  gap: 14px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  transition: background 0.15s ease;
  height: auto;
  cursor: pointer;

  &:hover {
    background: #ffcf98;
  }

  &.list {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }

  .project-card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project-card__action-btns {
    display: flex;
    place-self: flex-start;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;

    .list & {
      margin-left: auto;
    }

    @media(max-width: 415px) {
      flex-direction: row;
    }
  }
}

  @media (max-width: 415px) {
    .project-card {
      grid-template-columns: 1fr;
    }

    .project-card__content {
      order: 1;
    }

    .project-card__action-btns {
      order: 2;
      display: flex;
      gap: 10px;
    }

    .project-card__content .button {
      width: 100%;
    }

    .project-card__action-btns .button {
      flex: 1;
    }
  }